controller_manager:
  ros__parameters:
    update_rate: 100

  arm_controller:
    type: joint_trajectory_controller/JointTrajectoryController
    ros__parameters:
      joints:
        - shoulder_pan_joint
        - shoulder_lift_joint
        - elbow_joint
        - wrist_1_joint
        - wrist_2_joint
        - wrist_3_joint
      state_publish_period: 0.01
      action_monitor_rate: 20.0
      allow_partial_joints_goal: false
      open_loop_control: false
      hardware_interface_types:
        - hardware_interface/PositionCommandInterface

  joint_state_broadcaster:
    type: joint_state_broadcaster/JointStateBroadcaster
    ros__parameters:
      use_sim_time: true
